name: senticcrystal
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - notebook
  - tqdm
  - pip:
    - sentence-transformers
    - transformers
    - gensim
    - nltk
    - wandb
    - optuna
    - optuna-integration[wandb]